/* styles.css */

/* Definições gerais */
body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #2a9d8f;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilos para as seções */
section {
    padding: 20px;
    margin: 10px 0;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #2a9d8f;
}

footer {
    background-color: #264653;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

/* Estilos específicos para o canvas */
#canvas-container {
    text-align: center; /* Centraliza o canvas horizontalmente */
    padding: 20px; /* Adiciona espaçamento ao redor do canvas */
}

canvas {
    border: 1px solid black;
    display: block; /* Garante que o canvas se comporte como um bloco */
    margin: 0 auto; /* Centraliza o canvas dentro do container */
    background-color: #000; /* Fundo preto */
    max-width: 100%; /* Garante que o canvas não exceda a largura da tela */
    height: auto; /* Ajusta a altura automaticamente com base na largura */
}
