/* styles.css */

/* Definições gerais */
body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

/* Cabeçalho */
header {
    background-color: #2a9d8f;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Seções */
section {
    padding: 20px;
    margin: 10px 0;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Seção inicial */
.intro {
    text-align: center;
    padding: 20px;
}

.animation-container {
    display: inline-block;
    margin: 20px 0;
    position: relative;
    width: 100%;
}

canvas {
    border: 1px solid black;
    display: block;
    margin: 0 auto;
    background-color: #000; /* Fundo preto */
}

/* Títulos */
h1, h2 {
    color: #2a9d8f;
}

/* Rodapé */
footer {
    background-color: #264653;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}
